<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeting Card</title>
    <link rel="stylesheet" href="./Template.css">
    <script src="../../CardBox/LoadSentCardDetails.js"></script>
</head>
<body id="main-container">
    <div class="card-container">
        <div class="card" id="card">
            <div class="card-header" id="card-header">
                <h1>Greetings!</h1>
            </div>
            <div class="card-body"> <!--Added new class - attention-->
                <p><strong id="source">To:</strong> <span id="username">[Recipient's Name]</span></p>
                <p><strong>Occasion:</strong> <span id="occasion">[Occasion]</span></p>
                <p><strong>Wish:</strong></p>
                <p id="wish">[Your message here]</p>
            </div>
        </div>
    </div>
</body>
</html>