/* Basic reset for consistent styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #5faaff, #7b91fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

input[type="file"] {
    padding: 10px;
    border: 2px solid #888; 
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s;
    width: 100% 
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #888; 
    color: #fff; 
    padding: 10px 20px; 
    border: 2px solid #888; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #666; 
}

input[type="file"]::-webkit-file-upload-button:active {
    background-color: #444; 
}

button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #5873fa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3252f4;
}

button:active {
    background-color: #3252f4;
}